@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

/*------------------------------------------------------------------------------Section 1 - Callout */

#callout-container {
    height: 100vh;
    background: url(../images/jc-lesson-bg.jpg) no-repeat center left fixed;
    background-size: contain;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.callout-text {
    color: white;
    font-weight: bold;
}

/*------------------------------------------------------------------------------Section 2 - Who am I? */



.who-am-i-text {
    font-size: 1.2rem;
    align-self: center;
    
}

.who-image {
}

/*------------------------------------------------------------------------------Section 3 - How it Works */

.img-fluid {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2rem;
    
}

/*------------------------------------------------------------------------------Section 4 - Reviews */

#review-container {
    height: 100vh;
    display: block;
    text-align: center;
}

/*------------------------------------------------------------------------------Section 5 - Contact */

#contact-container {
    height: 100vh;
    display: block;
    text-align: center;
}