@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;600;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

/*----Header----*/

.bg-color-head {
    background-color: #000000;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*----Styling----*/

.section-header {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.section-para {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.btn {
    background-color: #df0402;
}

/*----Nav Bar----*/

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px;
    position: sticky;
    z-index: 999999;
}

.navbar-collapse {
    justify-content: center;
    background-color: #000000;
}

.navbar {
    padding: 0;
    background-color: #000000;
}

.nav-item {
    
    background-color: #000000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar-dark,
.navbar-nav:hover,
.nav-link:hover {
    color: #6c757d;
    transition-duration: .5s;
}

.navbar-toggler {
    background-color: #000000;
}

/*----Section 1 - Callout----*/

#callout-container {
    height: 100vh;
    background: url(../images/jc-lesson-bg.jpg) no-repeat center left fixed;
    background-size: contain;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.callout-text {
    color: white;
    font-weight: bold;
}

/*------------------------------------------------------------------------------Section 2 - Who am I? */



.who-am-i-text {
    font-size: 1.2rem;
    align-self: center;
    
}

.who-img {
}

/*------------------------------------------------------------------------------Section 3 - How it Works */

.how-icon {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2rem;
    
}

/*------------------------------------------------------------------------------Section 4 - Reviews */



/*------------------------------------------------------------------------------Section 5 - Contact */

#map {
    border-style: solid;    
}

/*----Footer----*/

footer {
    background-color: #000000;
    color: #ffffff;
    max-height: 120px;
    
    align-content: center;

}


@media only screen and (min-width: 600px)  {
    .form {
    width: 75%;
    margin: auto;
    }
}

    .footer-icon {
        color: #ffffff;
    }