@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;600;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

/*----Header----*/

.bg-color-head {
    background-color: #000;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-dimensions {
    width: 300px;
    height: 184px;
}

/*----Styling----*/

.section-header {
    font-size: 2rem;
    font-weight: 500;
}

.para-format {
    font-size: 1.2rem;
    font-weight: 400;
}

.btn {
    background-color: #df0402;
}

.break-line {
    border: 1px solid #000;
    margin: 0 5rem;
    }

/*----NavBar----*/

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px;
    position: sticky;
    z-index: 999999;
}

.navbar-collapse {
    justify-content: center;
    background-color: #000;
}

.navbar {
    padding: 0;
    background-color: #000;
}

.nav-item {
     background-color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar-dark,
.navbar-nav:hover,
.nav-link:hover {
    color: #6c757d;
    transition-duration: .5s;
}

.navbar-toggler {
    background-color: #000;
}

.navbar-toggler-icon i {
    color: #fff;
    font-size: 1.75rem;
}

/*----Section-1-Callout----*/

#callout-container {
    height: 100vh;
    background: url(../images/jc-lesson-bg.jpg) no-repeat center left fixed;
    background-size: contain;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.callout-text {
    color: #fff;
    font-weight: bold;
}

/*----Section 2-Who am I?----*/

.who-am-i-text {
    font-size: 1.2rem;
    align-self: center;
}

/*----Section-3-How-it-Works----*/

.how-icon {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2rem;  
}

.how-text {
    font-size: 1.5rem;
    
}

/*----Section-5-Contact----*/

#map {
    border-style: solid;    
}

/*----Footer----*/

footer {
    background-color: #000;
    color: #fff;
    max-height: 7.5rem;   
    align-content: center;
}

@media only screen and (min-width: 600px)  {
    .form {
    width: 75%;
    margin: auto;
    }
}

.footer-icon {
    color: #fff;
 }

 .footer-icon:hover {
     color: #df0402;
 }